@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url('/images/beach_polynesia.jpg') no-repeat center center fixed;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
}

.degrees:after {
  content: "\00b0";
}